.footer {
  padding: 40px 0;
}
.footer .container {
  display: flex;
  justify-content: center;
}
.copyright {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #DCDCF3;
}
