.answers {
  padding: 20px 0;

  .container {
    .test-pre-tittle {
      .test-tittle-transparent {
        font-size: 20px;
        line-height: 24px;
        color: #DCDCF3;
        vertical-align: middle;
        display: inline-block;
        margin-right: 15px;
      }

      .test-tittle {
        font-size: 20px;
        line-height: 24px;
        color: #6933DC;
        vertical-align: middle;
        display: inline-block;
      }

      .arrow {
        vertical-align: middle;
        display: inline-block;
        margin-right: 15px;
      }
    }

    .tittle {
      margin-top: 60px;
      margin-bottom: 10px;
    }

    .pre-tittle {
      font-family: 'Museo Sans Cyrl', sans-serif;
      font-size: 20px;
      line-height: 24px;
      color: #333333;
      margin-bottom: 60px;

      span {
        color: #6933DC;
      }
    }

    .answers-items {
      .answer {
        margin-bottom: 60px;

        .test-question-title {
          font-family: "Museo Sans Cyrl 700", sans-serif;
          font-size: 36px;
          line-height: 43px;
          color: #6933DC;
          margin-bottom: 40px;

          span {
            font-family: "Museo Sans Cyrl 700", sans-serif;
            font-size: 36px;
            line-height: 43px;
          }
        }

        .items {
          .answers-item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .answers-item-circle {
              width: 14px;
              height: 14px;
              border: 3px solid #6933DC;
              border-radius: 50%;
              margin-right: 16px;

              &.green-circle {
                border: 6px solid #5FDC33;
                box-sizing: border-box;
                width: 20px;
                height: 20px;
              }

              &.red-circle {
                border: 6px solid red;
                box-sizing: border-box;
                width: 20px;
                height: 20px;
              }
            }

            .answers-text {
              font-size: 20px;
              line-height: 24px;

              &.green-text {
                color: #5FDC33;
              }

              &.red-text {
                color: red;
              }
            }
          }

        }

      }

    }
  }
}

.link {
  text-decoration: none;
  display: block;

  span {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    vertical-align: middle;
    display: inline-block;
    color: #6933DC;
    margin-right: 13px;
  }
}

.link img {
  vertical-align: middle;
  display: inline-block;
}

.link-block {
  display: flex;
  justify-content: right;
  margin-top: 60px;
}
